---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import CallToAction from '../components/CallToAction.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Meine Mission</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 ">

      <Feature imgSrc="ich_bin_lou.webp" title="Geliebtes Herz,">
          ich bin Lou, Jahrgang 73, und lebe mit meiner tierischen Familie in meiner Wahlheimat, dem landschaftlich so schönen Erzgebirge.
          Wenn Du möchtest, helfe ich Dir Deine Wunden zu heilen, um Dich auf Deinen Herzensweg zur absoluten Fülle - in Deinem Finanzbereich, Deinen Beziehungen und Deiner Gesundheit - zu begleiten.
          Ein geheiltes, liebevolles Herz ermöglicht Dir, Anderen klar und authentisch zu begegnen - manchmal in Sanftmut und Güte - manchmal mit klaren Grenzen.
          Je nachdem, was es gerade braucht.
          So oder so bringt Dein geheiltes Herz mehr Liebe und Heilung zu Deinen Mitmenschen und in diese Welt und macht sie somit zu einem besseren Ort.
          Genau das ist meine Mission und das ist für mich echte, gelebte Spiritualität.
        </Feature>
      </div>
    </div>
  </section>
  <section class="my-32" id="meine-angebote">
    <div class="container">
      <h2 class="mb-16 text-6xl">Meine Angebote</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">

        <Feature imgSrc="hero.webp" title="Akasha-Chronik Heilsitzung">
          In dieser Sitzung öffne ich Deine Akasha-Chronik: Das ist Dein persönliches Bewusstseinsfeld, in dem alle für Dich jetzt notwendigen Informationen abrufbar sind.
          Gemeinsam mit meinem geistigem Team und interaktiv mit Dir gehen wir zusammen zur Ursache Deines Problems - zu Deiner Urwunde - um sie dort zu heilen.
          Somit kann sich Dein Thema -durch einen Dominoeffekt- im Hier und Jetzt auflösen und Raum für dein erfülltes Leben schaffen.
          <div class="flex justify-between mt-4 text-sm font-semibold">
            <span>Dauer: etwa 60 Minuten</span>
            <span>Preis: 316 €</span>
          </div>
        </Feature>
        <Feature imgSrc="balou.webp" title="Heilsitzung mit Balou">
          Balou trat an mich heran und bat mich, auch ihm Heilsitzungen zu ermöglichen.
          Es ist ihm eine Herzensangelegenheit und tiefes Bedürfnis, den Menschen zu helfen und somit seine Mission hier zu erfüllen.
          In dieser Sitzung bin ich reiner Kanal für all seine wunderbaren Heilenergien und Frequenzen, die direkt zu Dir fließen und manchmal auch mit Botschaften versehen sind.
          <div class="flex justify-between mt-4 text-sm font-semibold">
            <span>Dauer: etwa 30 Minuten</span>
            <span>Preis: 150 €</span>
          </div>
        </Feature>
        <Feature imgSrc="scales.webp" title="Begleitung zu Deinem Wunschgewicht">
          Hier biete ich Dir ein Abonnement an, um Dich zu Deinem neuen Körpergefühl und Essverhalten zu begleiten. <br/>
          Gerade spirituelle Menschen erden sich oft mit Essen, um all die hohen Energien körperlich auszuhalten.
          Manche wiederum trösten sich mit Essen, um Ihren Alltag zu bestehen oder inneren Schmerz zu betäuben.
          Wahrscheinlich gibt es so viele Ursachen wie Menschen auf dieser Welt.
          Ganz egal, was Dein Übergewicht verursacht hat, wir schauen uns die Ursprünge in den Heilsitzungen an, lösen sie auf und finden gemeinsam den Weg zu Deinem Wunschgewicht. <br/>
          Hier wird keine Diät erstellt, sondern mit Dir zusammen, Deine ganz persönliche individuelle Ernährungsform entwickelt und ich begleite DIch bis Deine Umgewöhnung komplett erfolgt ist.

          <div class="flex justify-between mt-4 text-sm font-semibold">
            <span>Dauer: 6 Monate</span>
            <span>Preis: 1800 €</span>
          </div>
          <div class="flex justify-between mt-4 text-sm font-semibold">
            <span>Dauer: 12 Monate</span>
            <span>Preis: 3000 €</span>
          </div>
        </Feature>
      </div>
    </div>
  </section>
  <CallToAction/>
  <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Wichtige Hinweise</h2>
      <div class="grid grid-cols-1 gap-12">
        <Feature imgSrc="" title="Beachte:">
          Ich ersetze keinen Arzt und mache auch keine Heilversprechen.
          Du bist und bleibst permanent in Deiner Eigenverantwortung.
          Bisher durfte ich aber bei allen Heilsitzungen einen mächtigen Shift (Energieanhebung) und großartige Heilerfolge bei meinen Klienten erleben.
          <br/> <br/>
          24 Stunden vor einer Heilsitzung dürfen kein Alkohol und keine Drogen eingenommen werden.
          Nach der Sitzung solltest Du viel klares Wasser trinken.
          Die Energien wirken bis zu drei Wochen nach der Sitzung weiter.
        </Feature>
      </div>
    </div>
  </section>
  <section class="my-32" id="kontakt">
    <div class="container">
      <h2 class="mb-16 text-6xl">Kontakt</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-12">
        <Feature imgSrc="lou_und_lasse.webp" title="Von Herz zu Herz">
          Telefon: <a href="tel:+49157000000">+49 157-000000</a> <br/>
          E-Mail: <a href="mailto:info@lousmiles.de">info@lousmiles.de</a>
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>
