---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---
<footer class="bg-pink-700 py-6">
  <div class="container mx-auto flex flex-wrap items-center justify-between gap-4 text-sm ">
    <div class="flex gap-4">
      <a href="/impressum" class="hover:underline">Impressum</a>
      <a href="/datenschutz" class="hover:underline">Datenschutzerklärung</a>
    </div>

    <p>&copy; {currentYear} - Herzensweg</p>

    <div id="wcb" class="carbonbadge wcb-d"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
  </div>
</footer>

